@model IEnumerable<InvestGroup.Models.Property>

@{
    ViewData["Title"] = "Home Page";
    var finishingProperties = ViewData["FinishingProperties"] as IEnumerable<InvestGroup.Models.Property>;

}
<section class="banner-one min-vh-100" id="home">

<div class="container" data-aos="fade-up" data-aos-duration="1200">
    <div class="banner-one__inner d-flex flex-column justify-content-center align-items-center text-center">
        <div class="banner-one__content-box">
            <p class="banner-one__sub-title" data-en="Specialist In  Real State" data-ar="متخصص في العقارات">Specialist In Real State</p>
            <h2 class="banner-one__title" data-ar="اجعل حلمك أفضل من حيث مساحة المعيشة" data-en="Make Dream Better For Living Space">
                Make Dream Better For Living Space
            </h2>

            <p class="banner-one__text" data-en="Bringing together a team with passion, dedication, and resources to help our clients reach their buying and selling goals. We are with you every step of the way." data-ar="نجمع فريقًا يتميز بالشغف والتفاني والموارد لمساعدة عملائنا على تحقيق أهدافهم في البيع والشراء. نحن معكم خطوة بخطوة.">Bringing together a team with passion, dedication, and resources to help our clients reach their buying and selling goals. We are with you every step of the way.</p>
            <div class="banner-one__btn-and-review-box d-flex justify-content-center align-items-center">
                <div class="banner-one__btn-box">
                    <a href="#about" class="thm-btn">
                        <em data-ar="اكتشف المزيد" data-en="Discover More"> Discover More</em>
                        <span><i class="fas fa-arrow-right"></i></span>
                    </a>
                </div>
                <div class="banner-one__review-box">
                    <ul class="clearfix">
                        <li>
                            <div class="img-box">
                                <img src="https://unicktheme.com/2025/tanspot/main-html/assets/images/resources/banner-one-review-1-1.jpg" alt="#">
                            </div>
                        </li>
                        <li>
                            <div class="img-box">
                                <img src="https://unicktheme.com/2025/tanspot/main-html/assets/images/resources/banner-one-review-1-2.jpg" alt="#">
                            </div>
                        </li>
                        <li>
                            <div class="img-box">
                                <img src="https://unicktheme.com/2025/tanspot/main-html/assets/images/resources/banner-one-review-1-3.jpg" alt="#">
                            </div>
                        </li>
                    </ul>

                    <div class="text-box">
                        <h2 data-ar="العميل راضٍ" data-en="Customer Satisfied">Customer Satisfied</h2>
                        <p data-en="4.8 (15k Reviews)" data-ar="4.8 (15 ألف تقييم)">4.8 (15k Reviews)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

<section class="about-one px-4 section-padding" id="about">
    <div class="container">
        <div class="row g-4">
            <div class="col-xl-6 order-2 order-xl-1" data-aos="zoom-in" data-aos-duration="1200">
                <div class="about-one__left wow slideInLeft animated d-flex justify-content-center align-items-center" data-wow-delay="100ms" data-wow-duration="2500ms" style="visibility: visible; animation-duration: 2500ms; animation-delay: 100ms; animation-name: slideInLeft;">
                    <div class="about-one__img-box">
                        <div class="about-one__img ">
                            <video autoplay muted loop playsinline class="w-100" style="cursor:pointer;" data-bs-toggle="modal" data-bs-target="#videoModal">
                                <source src="~/imgs/about-video.mp4" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                        <div class="about-one__circle-text">
                            <div class="about-one__round-text-box">
                                <div class="inner">
                                    <div class="about-one__curved-circle rotate-me" style="position: absolute; height: 165.596px;">
                                        <span class="char1" style="position: absolute; left: 50%; margin-left: -0.416667em; transform: rotate(-170.501deg); transform-origin: center 7.33333em;">W</span><span class="char2" style="position: absolute; left: 50%; margin-left: -0.333333em; transform: rotate(-162.184deg); transform-origin: center 7.33333em;">E</span><span class="char3" style="position: absolute; left: 50%; margin-left: -0.291667em; transform: rotate(-155.253deg); transform-origin: center 7.33333em;">L</span><span class="char4" style="position: absolute; left: 50%; margin-left: -0.333333em; transform: rotate(-148.322deg); transform-origin: center 7.33333em;">C</span><span class="char5" style="position: absolute; left: 50%; margin-left: -0.375em; transform: rotate(-140.467deg); transform-origin: center 7.33333em;">O</span><span class="char6" style="position: absolute; left: 50%; margin-left: -0.416667em; transform: rotate(-131.688deg); transform-origin: center 7.33333em;">M</span><span class="char7" style="position: absolute; left: 50%; margin-left: -0.333333em; transform: rotate(-123.371deg); transform-origin: center 7.33333em;">E</span><span class="char8" style="position: absolute; left: 50%; margin-left: -0.208333em; transform: rotate(-117.364deg); transform-origin: center 7.33333em;">&nbsp;</span><span class="char9" style="position: absolute; left: 50%; margin-left: -0.333333em; transform: rotate(-111.819deg); transform-origin: center 7.33333em;">T</span><span class="char10" style="position: absolute; left: 50%; margin-left: -0.375em; transform: rotate(-104.426deg); transform-origin: center 7.33333em;">O</span><span class="char11" style="position: absolute; left: 50%; margin-left: -0.208333em; transform: rotate(-97.9573deg); transform-origin: center 7.33333em;">&nbsp;</span><span class="char12" style="position: absolute; left: 50%; margin-left: -0.375em; transform: rotate(-91.4884deg); transform-origin: center 7.33333em;">O</span><span class="char13" style="position: absolute; left: 50%; margin-left: -0.375em; transform: rotate(-83.1713deg); transform-origin: center 7.33333em;">U</span><span class="char14" style="position: absolute; left: 50%; margin-left: -0.333333em; transform: rotate(-75.3162deg); transform-origin: center 7.33333em;">R</span><span class="char15" style="position: absolute; left: 50%; margin-left: -0.208333em; transform: rotate(-69.3094deg); transform-origin: center 7.33333em;">&nbsp;</span><span class="char16" style="position: absolute; left: 50%; margin-left: -0.333333em; transform: rotate(-63.3026deg); transform-origin: center 7.33333em;">C</span><span class="char17" style="position: absolute; left: 50%; margin-left: -0.375em; transform: rotate(-55.4475deg); transform-origin: center 7.33333em;">O</span><span class="char18" style="position: absolute; left: 50%; margin-left: -0.416667em; transform: rotate(-46.6683deg); transform-origin: center 7.33333em;">M</span><span class="char19" style="position: absolute; left: 50%; margin-left: -0.333333em; transform: rotate(-38.3512deg); transform-origin: center 7.33333em;">P</span><span class="char20" style="position: absolute; left: 50%; margin-left: -0.375em; transform: rotate(-30.4961deg); transform-origin: center 7.33333em;">A</span><span class="char21" style="position: absolute; left: 50%; margin-left: -0.375em; transform: rotate(-22.179deg); transform-origin: center 7.33333em;">N</span><span class="char22" style="position: absolute; left: 50%; margin-left: -0.333333em; transform: rotate(-14.3239deg); transform-origin: center 7.33333em;">Y</span><span class="char23" style="position: absolute; left: 50%; margin-left: -0.208333em; transform: rotate(-8.31713deg); transform-origin: center 7.33333em;">&nbsp;</span><span class="char24" style="position: absolute; left: 50%; margin-left: -0.416667em; transform: rotate(-1.38619deg); transform-origin: center 7.33333em;">W</span><span class="char25" style="position: absolute; left: 50%; margin-left: -0.375em; transform: rotate(7.393deg); transform-origin: center 7.33333em;">O</span><span class="char26" style="position: absolute; left: 50%; margin-left: -0.333333em; transform: rotate(15.2481deg); transform-origin: center 7.33333em;">R</span><span class="char27" style="position: absolute; left: 50%; margin-left: -0.333333em; transform: rotate(22.6411deg); transform-origin: center 7.33333em;">K</span><span class="char28" style="position: absolute; left: 50%; margin-left: -0.166667em; transform: rotate(28.1858deg); transform-origin: center 7.33333em;">I</span><span class="char29" style="position: absolute; left: 50%; margin-left: -0.375em; transform: rotate(34.1926deg); transform-origin: center 7.33333em;">N</span><span class="char30" style="position: absolute; left: 50%; margin-left: -0.375em; transform: rotate(42.5098deg); transform-origin: center 7.33333em;">G</span><span class="char31" style="position: absolute; left: 50%; margin-left: -0.208333em; transform: rotate(48.9787deg); transform-origin: center 7.33333em;">&nbsp;</span><span class="char32" style="position: absolute; left: 50%; margin-left: -0.333333em; transform: rotate(54.9855deg); transform-origin: center 7.33333em;">I</span><span class="char33" style="position: absolute; left: 50%; margin-left: -0.375em; transform: rotate(62.8405deg); transform-origin: center 7.33333em;">n</span><span class="char34" style="position: absolute; left: 50%; margin-left: -0.333333em; transform: rotate(70.6956deg); transform-origin: center 7.33333em;">v</span><span class="char35" style="position: absolute; left: 50%; margin-left: -0.333333em; transform: rotate(78.0886deg); transform-origin: center 7.33333em;">e</span><span class="char36" style="position: absolute; left: 50%; margin-left: -0.333333em; transform: rotate(85.4816deg); transform-origin: center 7.33333em;">s</span><span class="char37" style="position: absolute; left: 50%; margin-left: -0.291667em; transform: rotate(91.9505deg); transform-origin: center 7.33333em;">t</span>
                                        <span class="char39" style="position: absolute; left: 50%; margin-left: -0.208333em; transform: rotate(104.426deg); transform-origin: center 7.33333em;">&nbsp;</span><span class="char40" style="position: absolute; left: 50%; margin-left: -0.333em; transform: rotate(108.433deg); transform-origin: center 7.33333em;">G</span><span class="char41" style="position: absolute; left: 50%; margin-left: -0.266667em; transform: rotate(115.978deg); transform-origin: center 7.33333em;">r</span><span class="char42" style="position: absolute; left: 50%; margin-left: -0.375em; transform: rotate(121.985deg); transform-origin: center 7.33333em;">o</span><span class="char43" style="position: absolute; left: 50%; margin-left: -0.333333em; transform: rotate(129.84deg); transform-origin: center 7.33333em;">u</span><span class="char44" style="position: absolute; left: 50%; margin-left: -0.333333em; transform: rotate(137.233deg); transform-origin: center 7.33333em;">p</span>
                                        <span class="char45" style="position: absolute; left: 50%; margin-left: -0.208333em; transform: rotate(143.239deg); transform-origin: center 7.33333em;">&nbsp;</span><span class="char46" style="position: absolute; left: 50%; margin-left: -0.333333em; transform: rotate(149.246deg); transform-origin: center 7.33333em;">2</span><span class="char47" style="position: absolute; left: 50%; margin-left: -0.333333em; transform: rotate(156.639deg); transform-origin: center 7.33333em;">0</span><span class="char48" style="position: absolute; left: 50%; margin-left: -0.333333em; transform: rotate(164.032deg); transform-origin: center 7.33333em;">0</span><span class="char49" style="position: absolute; left: 50%; margin-left: -0.333333em; transform: rotate(171.425deg); transform-origin: center 7.33333em;">2</span>
                                    </div>
                                </div>
                                <div class="overlay-icon-box">
                                    <a href="#about"><i class="fas fa-home"></i></a>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="inner-card mt-4">
                                <h3 class="my-4" data-en="My Expertise and Approach" data-ar="خبرتي ونهجي">My Expertise and Approach</h3>

                                <p data-en="What sets me apart as a real estate investment expert is my ability to combine strategic insight with hands-on market knowledge. Over the years, I’ve developed a keen understanding of both domestic and international buyer preferences, as well as the shifting trends in the real estate market."
                                   data-ar="ما يميزني كخبير استثمار عقاري هو قدرتي على الجمع بين الرؤية الاستراتيجية والمعرفة العملية بالسوق. على مر السنين، طورت فهمًا عميقًا لتفضيلات المشترين المحليين والدوليين، بالإضافة إلى متابعة التغيرات في اتجاهات سوق العقارات.">
                                    What sets me apart as a real estate investment expert is my ability to combine strategic insight with hands-on market knowledge. Over the years, I’ve developed a keen understanding of both domestic and international buyer preferences, as well as the shifting trends in the real estate market.
                                </p>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-xl-6 order-1 order-xl-2" data-aos="zoom-in" data-aos-duration="1200">
                <div class="about-one__right">
                    <div class="section-title text-left sec-title-animation animation-style2">
                        <div class="section-title__tagline-box">
                            <h6 class="section-title__tagline" data-ar="نبذه عننا" data-en="ABOUT US">ABOUT US</h6>
                        </div>
                    </div>

                    <p data-en="Invest Group provides an extensive selection of properties in Hurghada, Sahl Hasheesh, El Gouna, Makadi, and Soma Bay. Renowned for our exemplary reputation as a premier brokerage firm, we adeptly cater to the needs of developers and individual homebuyers across the Red Sea region."
                       data-ar="تقدم إنفست جروب مجموعة واسعة من العقارات في الغردقة، سهل حشيش، الجونة، مكادي، وسوما باي. وبفضل سمعتنا المتميزة كشركة وساطة رائدة، نحن نخدم المطورين والمشترين الأفراد في منطقة البحر الأحمر.">
                        Invest Group provides an extensive selection of properties in Hurghada, Sahl Hasheesh, El Gouna, Makadi, and Soma Bay. Renowned for our exemplary reputation as a premier brokerage firm, we adeptly cater to the needs of developers and individual homebuyers across the Red Sea region.
                    </p>

                    <p data-en="Our success stems from our comprehensive understanding of both domestic and international investor requirements. We meticulously select the finest developments in the most desirable locations, ensuring fair and competitive pricing."
                       data-ar="ينبع نجاحنا من فهم شامل لاحتياجات المستثمرين المحليين والدوليين. نحن نختار بعناية أفضل المشروعات في المواقع الأكثر تميزًا مع ضمان أسعار عادلة وتنافسية.">
                        Our success stems from our comprehensive understanding of both domestic and international investor requirements. We meticulously select the finest developments in the most desirable locations, ensuring fair and competitive pricing.
                    </p>

                    <p data-en="Whether you are looking to buy, rent, or sell an apartment, villa, or commercial unit in the Red Sea zone, Invest Group is committed to delivering the highest quality service and reliability."
                       data-ar="سواء كنت تبحث عن شراء أو تأجير أو بيع شقة أو فيلا أو وحدة تجارية في منطقة البحر الأحمر، فإن إنفست جروب ملتزمة بتقديم أعلى مستويات الخدمة والموثوقية.">
                        Whether you are looking to buy, rent, or sell an apartment, villa, or commercial unit in the Red Sea zone, Invest Group is committed to delivering the highest quality service and reliability.
                    </p>

                    <h3 class="mt-5 mb-4 text-base section-title__tagline" data-en="Founder’s Message" data-ar="رسالة المؤسس">Founder’s Message</h3>

                    <p data-en="I’m Mohamed Ali, a real estate investment expert living in Egypt and the founder of Invest Group Real Estate. Over the last 18 years, I’ve had the privilege of building a career in one of the most dynamic sectors of the Egyptian economy—real estate. From residential developments to luxury properties and commercial investments, my experience has given me a deep understanding of what it takes to succeed in this fast-evolving market."
                       data-ar="أنا محمد علي، خبير في الاستثمار العقاري مقيم في مصر ومؤسس إنفست جروب العقارية. على مدار 18 عامًا، كان لي شرف بناء مسيرة مهنية في واحد من أكثر القطاعات ديناميكية في الاقتصاد المصري — وهو العقارات. بدءًا من المشروعات السكنية إلى العقارات الفاخرة والاستثمارات التجارية، منحتني خبرتي فهمًا عميقًا لما يتطلبه النجاح في هذا السوق سريع التطور.">
                        I’m Mohamed Ali, a real estate investment expert living in Egypt and the founder of Invest Group Real Estate. Over the last 18 years, I’ve had the privilege of building a career in one of the most dynamic sectors of the Egyptian economy—real estate. From residential developments to luxury properties and commercial investments, my experience has given me a deep understanding of what it takes to succeed in this fast-evolving market.
                    </p>

                    <p data-en="That vision led to the creation of Invest Group, a company that is today synonymous with high-quality developments and exceptional client service in Egypt’s Red Sea region."
                       data-ar="هذه الرؤية قادت إلى تأسيس إنفست جروب، الشركة التي أصبحت اليوم مرادفًا للمشروعات عالية الجودة والخدمات الاستثنائية في منطقة البحر الأحمر بمصر.">
                        That vision led to the creation of Invest Group, a company that is today synonymous with high-quality developments and exceptional client service in Egypt’s Red Sea region.
                    </p>

                    <p data-en="As the founder and CEO of Invest Group, I have led my company to become one of the leading real estate firms specializing in properties across Hurghada, Sahl Hasheesh, El Gouna, Makadi, and Soma Bay. We offer an extensive portfolio of premier developments that cater to a wide range of clients, from individual homebuyers looking for their dream homes to developers seeking strategic investment opportunities."
                       data-ar="بصفتي مؤسسًا ورئيسًا تنفيذيًا لشركة إنفست جروب، قدت شركتي لتصبح واحدة من أبرز شركات العقارات المتخصصة في العقارات في الغردقة، سهل حشيش، الجونة، مكادي، وسوما باي. نحن نقدم مجموعة واسعة من المشروعات المتميزة التي تلبي احتياجات مجموعة متنوعة من العملاء، من الأفراد الباحثين عن منزل أحلامهم إلى المطورين الباحثين عن فرص استثمارية استراتيجية.">
                        As the founder and CEO of Invest Group, I have led my company to become one of the leading real estate firms specializing in properties across Hurghada, Sahl Hasheesh, El Gouna, Makadi, and Soma Bay. We offer an extensive portfolio of premier developments that cater to a wide range of clients, from individual homebuyers looking for their dream homes to developers seeking strategic investment opportunities.
                    </p>

                    <p data-en="Our goal at Invest Group Real Estate is simple: to provide unmatched expertise, transparency, and personalized services to help our clients make the best investment decisions. Whether it’s buying, selling, or renting, my team and I are committed to delivering excellence at every stage of the process."
                       data-ar="هدفنا في إنفست جروب العقارية بسيط: تقديم خبرة لا مثيل لها، وشفافية، وخدمات مخصصة لمساعدة عملائنا على اتخاذ أفضل قرارات الاستثمار. سواء كان شراءً أو بيعًا أو تأجيرًا، فإنني وفريقي ملتزمون بتقديم التميز في كل مرحلة من المراحل.">
                        Our goal at Invest Group Real Estate is simple: to provide unmatched expertise, transparency, and personalized services to help our clients make the best investment decisions. Whether it’s buying, selling, or renting, my team and I are committed to delivering excellence at every stage of the process.
                    </p>


                </div>
            </div>

            <div class="text-center mx-auto order-3">
                <p class="mt-4 mx-auto text-center"
                   data-en="If you’re interested in the potential of Egypt’s real estate market or have any questions, feel free to reach out."
                   data-ar="إذا كنت مهتمًا بإمكانات سوق العقارات في مصر أو لديك أي أسئلة، لا تتردد في التواصل معنا.">
                    If you’re interested in the potential of Egypt’s real estate market or have any questions, feel free to reach out.
                </p>
                <div class="mx-auto">
                    <a href="#contact" class="thm-btn">
                        <em data-ar="تواصل معنا" data-en="Contact Us">Contact Us</em>
                        <span><i class="fas fa-arrow-right"></i></span>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>
<section class="section-padding services">
    <div class="container">
        <div class="heading text-center" data-aos="fade-up" data-aos-duration="1200">
            <p class="text-base" data-ar="خدماتنا" data-en="OUR SERVICES">OUR SERVICES</p>
            <h2 data-ar="نحن ملتزمون باكتشاف العقار المثالي لك" data-en="We're committed to discovering the perfect property for you">We're committed to discovering the perfect property for you</h2>
        </div>
        <div class="row g-4 mt-5">
            <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-duration="1200">
                <div class="box">
                    <div class="icon">
                        <i class="fa-solid fa-magnifying-glass-dollar" aria-hidden="true"></i>
                    </div>
                    <h3 data-ar="تقييم الممتلكات" data-en="Property Valuation">Property Valuation</h3>
                    <p data-ar="المشورة القانونية المتخصصة والدعم طوال عملية العقارات." data-en="Expert legal advice and support throughout the real estate process.">Expert legal advice and support throughout the real estate process.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-duration="1200">
                <div class="box">
                    <div class="icon">
                        <i class="fa-solid fa-scale-balanced" aria-hidden="true"></i>
                    </div>
                    <h3 data-ar="المساعدة القانونية" data-en="Legal Assistance">Legal Assistance</h3>
                    <p data-ar="استشارات احترافية في التصميم الداخلي وخدمات الإعداد." data-en="Professional interior design consultations and staging services.">Professional interior design consultations and staging services.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-duration="1200">
                <div class="box">
                    <div class="icon">
                        <i class="fa-solid fa-hand-holding-dollar" aria-hidden="true"></i>
                    </div>
                    <h3 data-ar="خدمات الرهن العقاري" data-en="Mortgage Services">Mortgage Services</h3>
                    <p data-ar="أسعار رهن عقاري تنافسية وخيارات تمويل أخرى مخصصة." data-en="Competitive mortgage rates and Other most personalized financing options.">Competitive mortgage rates and Other most personalized financing options.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-duration="1200">
                <div class="box">
                    <div class="icon">
                        <i class="fa-solid fa-house-circle-check" aria-hidden="true"></i>
                    </div>
                    <h3 data-ar="فحص المنزل" data-en="Home Inspection">Home Inspection</h3>
                    <p data-ar="عمليات تفتيش شاملة للمنزل لتحديد المزيد من المشاكل المحتملة." data-en="Thorough home inspections to identify more potential issues.">Thorough home inspections to identify more potential issues.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-duration="1200">
                <div class="box">
                    <div class="icon">
                        <i class="fa-solid fa-handshake" aria-hidden="true"></i>
                    </div>
                    <h3 data-ar="خدمات الضمان" data-en="Escrow Services">Escrow Services</h3>
                    <p data-en="Efficient title and escrow services for smooth transactions." data-ar="خدمات فعالة للملكية والضمان لضمان معاملات سلسة.">Efficient title and escrow services for smooth transactions.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-duration="1200">
                <div class="box">
                    <div class="icon">
                        <i class="fa-solid fa-building-user" aria-hidden="true"></i>
                    </div>
                    <h3 data-en="Property Management" data-ar="إدارة الممتلكات">Property Management</h3>
                    <p data-ar="خدمات إدارة الممتلكات المهنية لأصحاب العقارات." data-en="Professional property more management services for landlords.">Professional property more management services for landlords.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-padding projects" id="projects">
    <div class="container">
        <div class="heading text-center" data-aos="fade-up" data-aos-duration="1200">
            <h2 data-ar="شقق للبيع" data-en="Apartments for Sale" class="section-title__tagline mb-4">Apartments for Sale</h2>
            <p data-ar="اكتشف أفضل الشقق في أكثر المواقع تميزاً" data-en="Discover the best apartments in the most exclusive locations">Discover the best apartments in the most exclusive locations</p>
        </div>

        <div class="row g-4 mt-4">
            @foreach (var property in Model)
            {
                <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="1200">
                    <div class="property-card-new h-100">
                        <div class="property-card-new__image-container">
                            <img src="@property.MainImageUrl" class="property-card-new__image" alt="@property.TitleEn">
                        </div>
                        <div class="property-card-new__content">
                            <h3 class="property-card-new__title" data-en="@property.TitleEn" data-ar="@property.TitleAr">@property.TitleEn</h3>
                            <p class="property-card-new__location" data-en="@property.LocationEn" data-ar="@property.LocationAr">
                                <i class="fas fa-map-marker-alt me-2"></i>@property.LocationEn
                            </p>
                            <p class="property-card-new__description"
                               data-en="@(property.OverviewEn != null && property.OverviewEn.Length > 150 ? property.OverviewEn.Substring(0, 150) + "..." : property.OverviewEn)"
                               data-ar="@(property.OverviewAr != null && property.OverviewAr.Length > 150 ? property.OverviewAr.Substring(0, 150) + "..." : property.OverviewAr)">
                                @(property.OverviewEn != null && property.OverviewEn.Length > 150 ? property.OverviewEn.Substring(0, 150) + "..." : property.OverviewEn)
                            </p>

                            @if (!string.IsNullOrEmpty(property.PaymentPlanEn))
                            {
                                <div class="property-card-new__features">
                                    @foreach (var item in property.PaymentPlanEn.Split('|', System.StringSplitOptions.RemoveEmptyEntries).Take(3))
                                    {
                                        <span><i class="fas fa-hand-holding-usd"></i>@item</span>
                                    }
                                </div>
                            }

                            <div class="m-auto">
                                <a asp-action="Details" asp-route-id="@property.Id" class="thm-btn">
                                    <em data-ar="اكتشف المزيد" data-en="Discover More">Discover More</em>
                                    <span><i class="fas fa-arrow-right"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<section class="team section-padding" id="team">
    <div class="container ">
        <div class="heading text-center">
            <h2 class="section-title__tagline">Our Team</h2>
        </div>
        <div class="row g-4 ">
            <div class="col-lg-4">
                <div class="card ">
                    <div class="img ">
                        <img src="~/imgs/team1.jpg " alt="chefs1 ">
                        <div class="icons ">
                            <a href="https://x.com/" target="_blank"><i class="fa-brands fa-twitter "></i></a>
                            <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f "></i></a>
                            <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram "></i></a>
                            <a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin "></i></a>
                        </div>
                    </div>
                    <div class="text ">
                        <h3>Walter White</h3>
                        <p>Velit aut quia fugit et et. Dolorum ea voluptate vel tempore tenetur ipsa quae aut. Ipsum exercitationem iure minima enim corporis et voluptate.</p>
                    </div>

                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="img ">
                        <img src="~/imgs/team-2.jpg " alt="chefs2 ">
                        <div class="icons ">
                            <a href="https://x.com/" target="_blank"><i class="fa-brands fa-twitter "></i></a>
                            <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f "></i></a>
                            <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram "></i></a>
                            <a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin "></i></a>
                        </div>
                    </div>
                    <div class="text ">
                        <h3>Sarah Jhonson</h3>
                        <p>Quo esse repellendus quia id. Est eum et accusantium pariatur fugit nihil minima suscipit corporis. Voluptate sed quas reiciendis animi neque sapiente.</p>
                    </div>

                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="img ">
                        <img src="~/imgs/team-3.jpg " alt="chefs3 ">
                        <div class="icons ">
                            <a href="https://x.com/" target="_blank"><i class="fa-brands fa-twitter "></i></a>
                            <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f "></i></a>
                            <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram "></i></a>
                            <a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin "></i></a>
                        </div>
                    </div>
                    <div class="text ">
                        <h3>William Anderson</h3>
                        <p>Vero omnis enim consequatur. Voluptas consectetur unde qui molestiae deserunt. Voluptates enim aut architecto porro aspernatur molestiae modi.</p>
                    </div>


                </div>
            </div>
        </div>

    </div>
</section>
<section class="section-padding">
    <div class="container">
        <div class="row g-4 align-items-center">
            <div class="col-lg-6 mb-4 mb-lg-0">
                <div class="video">
                    <video autoplay muted loop playsinline class="w-100" style="cursor:pointer;" data-bs-toggle="modal" data-bs-target="#videoModal2">
                        <source src="~/imgs/video-about.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="content">
                    <h2 class="mb-3 section-title__tagline" data-ar="استثمر مع الثقة" data-en="Invest with Confidence">
                        Invest with Confidence
                    </h2>
                    <p class="mb-4" data-ar="من المشاريع السكنية الفاخرة إلى الوجهات الساحلية الفريدة، نقدم لك فرصًا استثمارية مضمونة تحقق لك العائد والجودة."
                       data-en="From luxurious residences to unique coastal destinations, we bring you trusted investment opportunities that deliver both value and lifestyle.">
                        From luxurious residences to unique coastal destinations, we bring you trusted investment opportunities that deliver both value and lifestyle.
                    </p>
                    <a href="#contact" class="btn btn-contact" data-ar="تواصل معنا" data-en="Contact Us">
                        Contact Us
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="blog" class="blog-section py-5">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mb-5">
                <h2 class="section-title__tagline mb-3" data-ar="أحدث المقالات" data-en="Latest Articles">أحدث المقالات</h2>
                <p class="section-subtitle" data-ar="اكتشف أحدث الأخبار والنصائح في عالم الاستثمار العقاري" data-en="Discover the latest news and tips in real estate investment">
                    اكتشف أحدث الأخبار والنصائح في عالم الاستثمار العقاري
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up">
                <article class="blog-card">
                    <div class="blog-image">
                        <img src="https://images.pexels.com/photos/1134176/pexels-photo-1134176.jpeg" alt="Real Estate Investment" class="img-fluid">
                        <div class="blog-overlay">
                            <div class="blog-date">
                                <span class="day">15</span>
                                <span class="month" data-ar="ديسمبر" data-en="Dec">ديسمبر</span>
                            </div>
                        </div>
                    </div>
                    <div class="blog-content">
                        <div class="blog-meta">
                            <span class="blog-category" data-ar="استثمار" data-en="Investment">استثمار</span>
                            <span class="blog-read-time" data-ar="5 دقائق قراءة" data-en="5 min read">5 دقائق قراءة</span>
                        </div>
                        <h3 class="blog-title" data-ar="لماذا يعتبر الاستثمار في العقارات على البحر الأحمر فرصة ذهبية؟" data-en="Why is investing in Red Sea real estate a golden opportunity?">
                            لماذا يعتبر الاستثمار في العقارات على البحر الأحمر فرصة ذهبية؟
                        </h3>
                        <p class="blog-excerpt" data-ar="اكتشف الأسباب التي تجعل من الاستثمار العقاري على ساحل البحر الأحمر خياراً استثمارياً مربحاً ومستداماً للمستقبل." data-en="Discover the reasons that make real estate investment on the Red Sea coast a profitable and sustainable investment choice for the future.">
                            اكتشف الأسباب التي تجعل من الاستثمار العقاري على ساحل البحر الأحمر خياراً استثمارياً مربحاً ومستداماً للمستقبل.
                        </p>
                    </div>
                </article>
            </div>

            <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="200">
                <article class="blog-card">
                    <div class="blog-image">
                        <img src="https://images.pexels.com/photos/261102/pexels-photo-261102.jpeg" alt="Sahl Hasheesh Development" class="img-fluid">
                        <div class="blog-overlay">
                            <div class="blog-date">
                                <span class="day">12</span>
                                <span class="month" data-ar="ديسمبر" data-en="Dec">ديسمبر</span>
                            </div>
                        </div>
                    </div>
                    <div class="blog-content">
                        <div class="blog-meta">
                            <span class="blog-category" data-ar="تطوير" data-en="Development">تطوير</span>
                            <span class="blog-read-time" data-ar="7 دقائق قراءة" data-en="7 min read">7 دقائق قراءة</span>
                        </div>
                        <h3 class="blog-title" data-ar="سهل حشيش: وجهة سياحية عالمية تعيد تعريف الفخامة" data-en="Sahl Hasheesh: A global tourist destination redefining luxury">
                            سهل حشيش: وجهة سياحية عالمية تعيد تعريف الفخامة
                        </h3>
                        <p class="blog-excerpt" data-ar="تعرف على التطورات الجديدة في منطقة سهل حشيش وكيف تساهم في جعلها واحدة من أهم الوجهات السياحية في المنطقة." data-en="Learn about the new developments in Sahl Hasheesh area and how they contribute to making it one of the most important tourist destinations in the region.">
                            تعرف على التطورات الجديدة في منطقة سهل حشيش وكيف تساهم في جعلها واحدة من أهم الوجهات السياحية في المنطقة.
                        </p>
                    </div>
                </article>
            </div>

            <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="400">
                <article class="blog-card">
                    <div class="blog-image">
                        <img src="https://images.pexels.com/photos/1134176/pexels-photo-1134176.jpeg" alt="Payment Plans Guide" class="img-fluid">
                        <div class="blog-overlay">
                            <div class="blog-date">
                                <span class="day">10</span>
                                <span class="month" data-ar="ديسمبر" data-en="Dec">ديسمبر</span>
                            </div>
                        </div>
                    </div>
                    <div class="blog-content">
                        <div class="blog-meta">
                            <span class="blog-category" data-ar="نصائح" data-en="Tips">نصائح</span>
                            <span class="blog-read-time" data-ar="4 دقائق قراءة" data-en="4 min read">4 دقائق قراءة</span>
                        </div>
                        <h3 class="blog-title" data-ar="دليل شامل لخطط الدفع المرنة في الاستثمار العقاري" data-en="Complete guide to flexible payment plans in real estate investment">
                            دليل شامل لخطط الدفع المرنة في الاستثمار العقاري
                        </h3>
                        <p class="blog-excerpt" data-ar="تعلم كيفية اختيار خطة الدفع المناسبة لك ولميزانيتك، واكتشف المزايا المختلفة لكل خطة دفع متاحة." data-en="Learn how to choose the right payment plan for you and your budget, and discover the different advantages of each available payment plan.">
                            تعلم كيفية اختيار خطة الدفع المناسبة لك ولميزانيتك، واكتشف المزايا المختلفة لكل خطة دفع متاحة.
                        </p>
                    </div>
                </article>
            </div>
        </div>

    </div>
</section>
<section id="contact" class="contact-section py-5">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mb-5">
                <h2 class="section-title__tagline mb-3" data-ar="تواصل معنا" data-en="Contact Us">Contact Us</h2>
                <p class="section-subtitle" data-ar="نحن هنا لمساعدتك في العثور على الاستثمار المثالي" data-en="We're here to help you find the perfect investment">
                    We're here to help you find the perfect investment
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <form id="whatsappForm" class="contact-form" data-aos="fade-up">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <input type="text" name="name" class="form-control" placeholder="Full Name" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <input type="email" name="email" class="form-control" placeholder="Email Address" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <input type="tel" name="phone" class="form-control" placeholder="Phone Number" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <select name="project" class="form-control" required>
                                <option value="">Select Project</option>
                                <option value="Veranda - Sahl Hasheesh">Veranda - Sahl Hasheesh</option>
                                <option value="Scandic Beach Resort">Scandic Beach Resort</option>
                                <option value="CALA Sahl Hashish">CALA Sahl Hashish</option>
                                <option value="Long Beach Residence">Long Beach Residence</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3">
                        <textarea name="message" class="form-control" rows="5" placeholder="Your Message" required></textarea>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-lg">Send Message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>